:root {
  --colors-primary: rgba(18, 58, 85, 1);
  --colors-secodary: rgba(247, 99, 66, 1);
  --colors-white: rgba(255, 255, 255, 1);
  --colors-black: rgba(0, 0, 0, 1);
  --space-space-1: 4px;
  --space-space-2: 8px;
  --space-space-3: 12px;
  --space-space-4: 16px;
  --space-space-5: 20px;
  --space-space-6: 24px;
  --radius-radius-s: 10px;
  --radius-radius-m: 20px;
}